* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.wrapper {
    margin: 0 auto;
    max-width: 940px;
}

img {
    width: 100%;
}

header {
    background-color: #000;
    color: #fff;
}

header div {
    padding: 0 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li a:link,
nav ul li a:visited {
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover,
nav ul li a:focus {
    color: rgb(203, 51, 51);
}

#hero {
    display: flex;
    height: 600px;
    background-image: url(/images/hands-typing.jpg);
    background-color: rgb(53, 53, 53);
    background-size: cover;
    background-position: center;
    filter: grayscale(0.7);
    align-items: center;
    justify-content: center;
}

h1 {
    max-width: 60%;
    background-color: rgba(0, 0, 0, 50%);
    color: #fff;
    text-align: center;
    text-shadow: #000;
    padding: 10px 20px;
}

#about-me .wrapper {
    padding: 0 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

#about-me img {
    align-items: end;

}

#services .wrapper {
    /* display: flex; */
    background-color: #fafafa;
}

#service-can-do {
    max-width: 940px;
    text-align: center;
    padding-top: 40px;
}

#services-content {
  display: grid;
  max-width: 940px;
  grid-template-columns: repeat(3, 1fr);  
  gap: 40px;
}

#services-content article {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 1em;
    margin: auto;
}

#services-content a:link,
#services-content a:visited {
    padding: .8em 1em;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    border: 2px solid #000;
    border-radius: 4px;

    margin: auto;
    margin-left: 0px;
}

#services-content a:hover,
#services-content a:focus {
    background-color: #fff;
    color: #000;
}

#work .wrapper {
    max-width: 940px;
    text-align: center;
    padding-top: 40px;
}

.img-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
    "div1 div1 div1 div2 div2 div2"
    "div1 div1 div1 div2 div2 div2"
    "div3 div3 div4 div4 div5 div5"
    "div3 div3 div4 div4 div5 div5"
    ;
}

.img-grid .picture:nth-child(1) {
    grid-column: 1 / 4;
    grid-row: 1 / 3;
}

.img-grid .picture:nth-child(2) {
    grid-column: 4 / 7;
    grid-row: 1 / 3;
}

.img-grid .picture:nth-child(3) {
    grid-column: 1 / 3;
    grid-row: 3 / 6;
}

.img-grid .picture:nth-child(4) {
    grid-column: 3 / 5;
    grid-row: 3 / 6;
}

.img-grid .picture:nth-child(5) {
    grid-column: 5 / 7;
    grid-row: 3 / 6;
}

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}